<!-- <h3>BOOKINGS(S)</h3> -->
<div>
  <div>
    <div class="options">
      <mat-form-field class="booking-type-select">
        <mat-label>Search Criteria</mat-label>
        <mat-select [(ngModel)]="bookingDateOnFrom">
          <mat-option value="booked_on">Booked on</mat-option>
          <mat-option value="booked_for">Booked for</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="bookingDateOnFrom === 'booked_for'">
        <mat-form-field class="booked-on-date-field">
          <input matInput [matDatepicker]="dp3" placeholder="Booked For" disabled [(ngModel)]="dateBookedFor">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="isLoading" (click)="search(dateBookedFor, null)">SEARCH</button>
      </div>

      <div *ngIf="bookingDateOnFrom === 'booked_on'">
        <mat-form-field class="start-date-field">
          <input matInput [matDatepicker]="dp3" (dateChange)="onStartDateChange()" placeholder="Start Date" disabled [(ngModel)]="dateFrom">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="end-date-field">
          <input matInput [matDatepicker]="dp4" placeholder="End Date" disabled [(ngModel)]="dateTo">
          <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
          <mat-datepicker #dp4 disabled="false"></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="search(dateFrom, dateTo)" [disabled]="!onDateToAndFromSelected() || isLoading">SEARCH</button>
      </div>

      <span class="spacer"></span>

      <div class="widgets">
        <!-- <mat-chip-list *ngIf="!isLoading">
          <mat-chip color="accent" selected>Number of {{ appointmentType }}s {{ appointmentType === 'review' ? reviewDataSource.length : referralDataSource.length }}</mat-chip>
        </mat-chip-list> -->
      </div>
    </div>
  </div>

  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner [strokeWidth]="5" [diameter]="60"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <mat-tab-group (selectedTabChange)="changeAppointmentType($event)" animationDuration="0">
      <mat-tab>
        <ng-template mat-tab-label>
          <span [matBadge]="reviewDataSource.length" matBadgeOverlap="false">Reviews</span>
        </ng-template>
        <ng-template matTabContent>
          <mat-card>
            <mat-card-content>
              <div class="my-reviews-container">
                <table mat-table [dataSource]="reviewDataSource" class="mat-elevation-z1">

                  <!-- Position Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let review"> {{review.name}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="insurance">
                    <th mat-header-cell *matHeaderCellDef> Insurance </th>
                    <td mat-cell *matCellDef="let review"> {{review.insurance}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="clinic">
                    <th mat-header-cell *matHeaderCellDef> Clinic </th>
                    <td mat-cell *matCellDef="let review"> {{review.clinic}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let review"> {{review.time}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="made by">
                    <th mat-header-cell *matHeaderCellDef> Created By </th>
                    <td mat-cell *matCellDef="let review"> {{ review.creator?.fullname }} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="booked date">
                    <th mat-header-cell *matHeaderCellDef> Booked Date </th>
                    <td mat-cell *matCellDef="let review"> {{review.bookedDate | date}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="contact">
                    <th mat-header-cell *matHeaderCellDef> Contact </th>
                    <td mat-cell *matCellDef="let review"> {{review.contact}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="response">
                    <th mat-header-cell *matHeaderCellDef> Response </th>
                    <td mat-cell *matCellDef="let review"> {{review.response}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef> Remarks </th>
                    <td mat-cell *matCellDef="let review"> {{review.remarks}}</td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="editor">
                    <th mat-header-cell *matHeaderCellDef> Editor </th>
                    <td mat-cell *matCellDef="let review"> {{review.editor}}
                      <button mat-icon-button matTooltip="Complete Review" (click)="editAppointment(review)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-tab>

      <mat-tab label="Referrals">
        <ng-template mat-tab-label>
          <span [matBadge]="referralDataSource.length" matBadgeOverlap="false" matBadgeColor="accent">Referrals</span>
        </ng-template>
        <ng-template matTabContent>
          <mat-card>
            <mat-card-content>
              <div class="my-reviews-container">
                <table mat-table [dataSource]="referralDataSource" class="mat-elevation-z1">

                  <!-- Position Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.name}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="insurance">
                    <th mat-header-cell *matHeaderCellDef> Insurance </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.insurance}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="clinic">
                    <th mat-header-cell *matHeaderCellDef> Clinic </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.clinic}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.time}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="made by">
                    <th mat-header-cell *matHeaderCellDef> Made By </th>
                    <td mat-cell *matCellDef="let referral"> {{ referral.creator?.fullname }} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="booked date">
                    <th mat-header-cell *matHeaderCellDef> Booked Date </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.bookedDate | date}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="contact">
                    <th mat-header-cell *matHeaderCellDef> Contact </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.contact}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="response">
                    <th mat-header-cell *matHeaderCellDef> Response </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.response}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef> Remarks </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.remarks}}</td>
                  </ng-container>


                  <!-- Symbol Column -->
                  <ng-container matColumnDef="editor">
                    <th mat-header-cell *matHeaderCellDef> Editor </th>
                    <td mat-cell *matCellDef="let referral"> {{referral.editor}}
                      <button mat-icon-button matTooltip="Complete Review" (click)="editAppointment(referral)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
