<div class="container">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        Users
      </mat-expansion-panel-header>
      <app-users></app-users>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header> Clinics </mat-expansion-panel-header>
      <app-clinics></app-clinics>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header> Insurances </mat-expansion-panel-header>
      <app-insurances></app-insurances>
    </mat-expansion-panel>
  </mat-accordion>
</div>
