.my-reviews-options-container {
  display: flex;
}

.booking-type-select {
  flex-basis: 200px;
  margin-right: 2rem;
}

.mat-card {
  padding-left: .1rem;
  padding-right: .1rem;
  background: transparent;
}

table {
  width: 100%;
}

tr:hover td button {
  visibility: visible;
}

td {
  position: relative;
}

td button {
  top: 0;
  position: absolute;
  visibility: hidden;
}

td button:nth-child(n+1) {
  right: 3.2rem;
}

td button:nth-child(n+2) {
  right: .5rem;
}

.start-date-field,
.end-date-field,
.booked-on-date-field {
  margin-right: 2rem;
}
