<h2 mat-dialog-title>CHANGE PASSWORD</h2>
<form #changePasswordForm="ngForm">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="existingPassword" placeholder="Existing Password" required ngModel name="existingPassword" minlength="6">
      <mat-error>Password must be at least 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="newPassword" placeholder="New Password" required ngModel name="newPassword" minlength="6">
      <mat-error>Password must be at least 6 characters</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" [mat-dialog-close]="{existingPs: existingPassword, newPs: newPassword}" [disabled]="!changePasswordForm.valid">SAVE</button>
  </mat-dialog-actions>
</form>
